<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Data Mahasiswa
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>        
  <ion-card-content>

      <table class="table table-striped">
        <thead class="table mb-0"> 
          <tr>
              <th>No</th>
              <th>NPM</th>
              <th>Nama</th>
              <th>Jurusan</th>
              <th>Prodi</th>
              <th>Kelas</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let siswa of getMahasiswa; let i=index;">
              <td>{{i+1}}</td>
              <td>{{siswa.npm}}</td>
              <td>{{siswa.nama}}</td>
              <td>{{siswa.jurusan}}</td>
              <td>{{siswa.prodi}}</td>
              <td>{{siswa.kelas}}</td>
              <td>
                <ion-button type="submit" routerLink="/update/{{siswa.npm}}" size="small" color="warning">
                  Edit
                </ion-button>
               <ion-button type="submit"size="small" (click)="deleteData(siswa.npm)" color="danger">
                  Delete
              </ion-button>
              </td>
            </tr>
        </tbody>
      </table>

        </ion-card-content>
  </ion-card>

</ion-content>